<!DOCTYPE HTML>
<html>
{% extends "base.html" %}
{% block content %}
<head>
  <title>PatternGB project - contact us</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />
</head>

<body>
<p>Это страница пользователя, здесь может быть размещена различная информация, фото, и тд</p>
ID: {{current_user.user_id}}, имя пользователя: {{current_user.user_name}}
<p>А здесь информация из объекта класса, который мы создали из данных с базы</p>
<p>{{user_bd.id}}, {{user_bd.status}}, {{user_bd.name}}</p>
<a href="/examples">{{user_bd.name}}</a><form action="/" method="post">
            <input type="hidden" name="user_id" value={{user_bd.id}}>
            <input type="hidden" name="user_type" value={{user_bd.status}}>
            <input type="hidden" name="user_name" value={{user_bd.name}}>
            <input class="submit" type="submit" name="del_user" value="Удалить пользователя" />
          </form>

<p>
  {% if 'parent' in user_bd.status %}
    <p> {{user_bd.name}} </p>
    <form action="/user_detail/?user_id={{current_user.user_id}}&user_name={{current_user.user_name}}" method="post">
          <div class="form_settings">
            <p><span>Name</span><input class="contact" type="text" name="your_name" value="" /></p>
            <p>Type:</p>
            <p><input name="your_type" value="child" readonly>
              <p>ID родителя:</p>
              <p><input name="your_parent" value={{user_bd.id}} readonly>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="create_user" value="Create" /></p>
          </div>
        </form>
        <p><br /><br />NOTE: Вы находитесь на странице родителя, можете создать пользователя "ребенок" - child</p>
        <p>Это список всех детей родителя (получено по запросу из БД):</p>
            <ol> {% for child in user_main.find_child(user_bd.id) %}
              <li><a href="/user_detail/?user_id={{child[2]}}&user_name={{child[1]}}">{{child[1]}}</a><form action="/user_detail/?user_id={{user_bd.id}}&user_name={{user_bd.name}}" method="post">
            <input type="hidden" name="row_id" value={{child[0]}}>
            <input class="submit" type="submit" name="del_child" value="DEL" />
          </form></li>
            {% endfor %}
            </ol>
   {% endif %}
</p>

<p>
  {% if main.get_user(current_user.user_id)[1] == 'teacher' %}
    <p> {{main.get_user(current_user.user_id)}} </p>
    <form action="/user_detail/?user_id={{current_user.user_id}}&user_name={{current_user.user_name}}" method="post">
              <div class="form_settings">
                <p>Укажите ребенка:</p>
                 <select name="pupil">
                    {% for child in main.users.child %}
                        <option value="{{child.id}}" SELECTED>{{child.name}}</option>"
                    {% endfor %}
                </select>
                  <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="del_pupil" value="Удалить из группы" /></p>
                  <p>Выберите группу:</p>
                  <select name="to_group">
                    {% for group in main.groups %}
                        <option value="{{group.id}}" SELECTED>{{group.name}}</option>"
                    {% endfor %}
                </select>
                <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="add_pupil" value="Добавить в группу" /></p>
              </div>
            </form>
            <p><br /><br />NOTE: Вы находитесь на странице учителя, можете добавить ребенка в группу</p>
                <p>Это список всех детей:</p>
            <ol> {% for child in main.users.child %}
              <li><a href="/user_detail/?user_id={{child.id}}&user_name={{child.name}}">{{child.name}}</a></li>
            {% endfor %}
            </ol>
        <p>Группы:</p>
        <table style="width:100%; border-spacing:0;">
          <tr><th>Название группы</th><th>Описание</th></tr>
          {% for group in main.groups %}
          <tr><td>{{group.name}}</td><td>{{main.group_response(group)}}</td></tr>
          {% endfor %}
        </table>
   {% endif %}
</p>
    {% if main.get_user(current_user.user_id)[1] == 'child' %}
    <p> {{main.get_user(current_user.user_id)}} </p>
    <p>Группы:</p>
    {{main.check_pupil(main.get_user(current_user.user_id)).name}}
    {% endif %}
</body>
</html>
{% endblock %}