{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
        <img src="{% static 'img/01.jpg' %}" name="canvas" style="width:200px"/>
        <img src="{% static 'img/02.jpg' %}" name="canvas" style="width:200px"/>
        <img src="{% static 'img/03.jpg' %}" name="canvas" style="width:200px"/>
        <div class="card nav-item">
            <div class="card-body">
                <h5 class="card-title">Забота это наша работа</h5>
                <p class="card-text">Лучшие и самые дешёвые предложения на рынке</p>
                <a class="btn btn-danger"
                   href="{% url 'acc:index' %}">Смотреть предложения</a>
            </div>
        </div>
    </div>
{% endblock %}