<!DOCTYPE HTML>
<html>
{% extends "base.html" %}
{% block content %}
<head>
  <title>PatternGB project - examples</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">textured<span class="logo_colour">_stars_light</span></a></h1>
          <h2>Simple. Contemporary. Website Template.</h2>
        </div>
      </div>

    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h4>New Website Launched</h4>
        <h5>January 1st, 2014</h5>
        <p>SOLID - это аббревиатура 5-ти основных принципов проектирования в объектно-ориентированном программировании: Single responsibility (SRP, принципы единственной ответственности), Open-closed (OCP, принцип открытости/закрытости), Liskov substitution (LSP, Принцип подстановки Барбары Лисков), Interface segregation (ISP, принцип разделения интерфейсов), Dependency inversion (DIP, Принцип инверсии зависимостей).<br /><a href="#">Read more</a></p>
        <p></p>
        <h4>New Website Launched</h4>
        <h5>January 1st, 2014</h5>
        <p>2014 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <h3>Useful Links</h3>
        <ul>
          <li><a href="https://gb.ru/lessons/336384">GB Patterns</a></li>
          <li><a href="https://github.com/KonstantinSuchkov/patternGB">My github</a></li>
          <li><a href="https://gb-flaskproject.onrender.com/">Flask Project</a></li>
          <li><a href="https://djangoproject-e1o0.onrender.com/">Django Project</a></li>
        </ul>
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
          </p>
        </form>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>Lesson 4</h1>
        <p>создание группы, создание пользователя:</p>
        <p><a href="/create_user">Создать Пользователя</a></p>
        <p><a href="/create_group">Создать Группу</a></p>
        <h2>Lesson 4, LISTS</h2>
        <p>Это список наших учеников:</p>
        <ol> {% for child in main.users.child %}
          <li><a href="/user_detail/?user_id={{child.id}}&user_name={{child.name}}">{{child}}</a></li>
          {% endfor %}
        </ol>
        <p>Это список наших учителей:</p>
        <ol> {% for teacher in main.users.teacher %}
          <li><a href="/user_detail/?user_id={{teacher.id}}&user_name={{teacher.name}}">{{teacher}}</a></li>
          {% endfor %}
        </ol>
        <p>Это список родителей:</p>
        <ol> {% for parent in main.users.parent %}
          <li><a href="/user_detail/?user_id={{parent.id}}&user_name={{parent.name}}">{{parent}}</a></li>
          {% endfor %}
        </ol>
        <p>Это список наших групп:</p>
        <ol> {% for group in main.groups %}
          <li>{{group.name}} id {{group.id}}</li>
          {% endfor %}
        </ol>
        <p>Это список наших уроков/занятий:</p>
        {% for lesson in main.lessons %}
        <ol> {% for i in lesson.operation() %}
          <li>{{i}}</li>
          {% endfor %}
        </ol>
        {% endfor %}
        <h2>Images</h2>
        <p>images can be placed on the left, in the center or on the right:</p>
        <span class="left"><img src="style/graphic.png" alt="example graphic" /></span>
        <p>
        место для текста
        </p>
        <span class="center"><img src="style/graphic.png" alt="example graphic" /></span>
        <span class="right"><img src="style/graphic.png" alt="example graphic" /></span>
        <p>
          место для текста
        </p>
        <h2>Tables</h2>
        <p>Группы:</p>
        <table style="width:100%; border-spacing:0;">
          <tr><th>Название группы</th><th>Описание</th></tr>
          {% for group in main.groups %}
          <tr><td>{{group.name}}</td><td>{{main.group_response(group)}}</td></tr>
          {% endfor %}
        </table>
        <h2>Form Elements</h2>
        <form action="#" method="post">
          <div class="form_settings">
            <p><span>Form field example</span><input type="text" name="name" value="" /></p>
            <p><span>Textarea example</span><textarea rows="8" cols="50" name="name"></textarea></p>
            <p><span>Checkbox example</span><input class="checkbox" type="checkbox" name="name" value="" /></p>
            <p><span>Dropdown list example</span><select id="id" name="name"><option value="1">Example 1</option><option value="2">Example 2</option></select></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="name" value="button" /></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
{% endblock %}