<!DOCTYPE html>
<html>
  <body>
    <header>
      <div id="menubar">
        <ul id="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/examples">Examples</a></li>
          <li><a href="/page">A Page</a></li>
          <li><a href="/another_page">Another Page</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
<footer>
   <div id="footer">
     <h3>Useful Links</h3>
        <ul>
          <li><a href="https://gb.ru/lessons/336384">GB Patterns</a></li>
          <li><a href="https://github.com/KonstantinSuchkov/patternGB">My github</a></li>
          <li><a href="https://gb-flaskproject.onrender.com/">Flask Project</a></li>
          <li><a href="https://djangoproject-e1o0.onrender.com/">Django Project</a></li>
        </ul>
     Copyright &copy; textured_stars_light | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a>
</div>
</footer>
</html>